

body {
  background-image:url('http://dl.dropboxusercontent.com/u/1834023/arduino/fons1.jpg');
  background-repeat:repeat-y;
  background-attachment:fixed;
  background-position:0 -125px;   
  background-size: 100%;
  color:white;
  text-transform:uppercase;
  font-family: 'Open Sans', sans-serif;
} 

#container {
  width:100%;height:100%;
}
.data {
  width:100%;
  text-align:center;
  padding:10px;
  margin:0 0 15px 0;
  font-size:20px;
  background-color:black;
}

.transparent_class {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

  /* IE 5-7 */
  filter: alpha(opacity=50);

  /* Netscape */
  -moz-opacity: 0.5;

  /* Safari 1.x */
  -khtml-opacity: 0.5;

  /* Good browsers */
  opacity: 0.5;
}
.data table td 
{
  font-size:48px;  
}

.desc{
  text-align:center;
  font-size:16px;
  margin:0;
}
.temperature {
  color: #757580;
}
.humidity {color: #757580;}

.switch {
  width:100%;
  text-align:center;
  padding:10px;
  font-size:48px;
  background-color:black;
  float:left;

  color:#fff;
  text-transform:uppercase;
  margin-top:5px;
}
.switch:active {

	-moz-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	-webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	position: relative;
	top: 1px;	-moz-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	-webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	position: relative;
	top: 1px;	-moz-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	-webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	position: relative;
	top: 1px;

  /*position:relative;
  top:3px;*/
}
.on {background-color: back;}
.off {background-color: back;}
.switch span {
	margin:0 10px 0 0 ;padding:0 25px 0 0;
}

#switch1 {
  clear:both;
}

.loading {
  background-image:url('http://dl.dropboxusercontent.com/u/1834023/arduino/loading.gif');
  background-repeat:no-repeat;
  background-position:right center;
}

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:180px;
   width:100%;
}

/* IE 6 */
* html #footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}
